**Q1. Why do we call Python as a general purpose and high-level programming language?
        
  It is interpreted language,it is simple and easily understanding,it is known for its ease of readability and it is             close to human language english and not like machine language

**Q2. Why is Python called a dynamically typed language?**
    
Programmer don’t need to declare the  type of variable,so python don’t need to know the type of variable untill the code is     run

**Q3. List some pros and cons of Python programming language?**
        
   Pros:     1. Easy to read and coding 
             2.Dynamically typed language 
             3.More Libraries
             4.Interpretend language : The code gets executed line by line so if there is any error at any line it stops                      there and shows error ,so it will be easy for debugging 
   
   Cons:     1.Python is comparatively slow at runtime so it is not ideal for mobile app and gaming purpose
             2.High memory consumptions due to the flexibility of data types


**Q4. In what all domains can we use Python?
    
    *. Data Engineering
    *.Data science
    *.Automation
    *. AI and Machine Learning

**Q5. What are variable and how can we declare them?
        
     A variable is used to store information.A variable must start with a letter or underscore it must not start with number
         Ex: abc123          right
               _abc          right
              123abc         wrong

**Q6. How can we take an input from the user in Python?**

In [ ]:
user_input = input(‘what is your age’)
print(user_input)

**Q7. What is the default datatype of the value that has been taken as an input using input() function?**
        
        String type

**Q8. What is type casting?**
   
   Converting one data type to another is called  type casting

**Q9. Can we take more than one input from the user using single input() function? If yes, how? If no, why?
      
      No

**Q10. What are keywords?**

These are Reserved words in python which cannot be used as Variables they are used to define syntax and structure of python
           
           Ex; if,else,print,and,not,true,false

**Q11. Can we use keywords as a variable? Support your answer with reason.**
            
                              No.
 
 These are Reserved words in python which cannot be used as Variables they are used to define syntax and structure of python
               
               Ex; if,else,print,and,not,true,false

**Q12. What is indentation? What's the use of indentaion in Python?**
            
    Indentation is the white space added at the beginning of statements     
             The use of indentation is to group the statements into a code block

**Q13. How can we throw some output in Python?**
         
         By using print() function

**Q14. What are operators in Python?**
      
    Operators are symbols which are used to do some sort of computation

  Different types of operators are:

1.Arthmatic operators
2.Assignment Operators
3.Logical operators
4.Comparision operators

**Q15. What is difference between / and // operators?**

/  Standard division which always returns a float number     Ex : 6/2 = 3.0
//   Rounds the result to nearest whole number	Ex: 9/2 = 4

**Q16. Write a code that gives following as an output.**
```
iNeuroniNeuroniNeuroniNeuron
```

In [18]:
multi_string= 'iNeuron' * 4
print(multi_string)

iNeuroniNeuroniNeuroniNeuron

**Q17. Write a code to take a number as an input from the user and check if the number is odd or even**

In [19]:
user_input =int(input('Enter a number  '))
if user_input % 2 == 0:
    print('Even Number')
else:
    print('Odd Number')

Enter a number  24
Even Number

**Q18. What are boolean operator?**

To Know whether an expression is True or False boolean operator is used 
True
False

**Q19. What will the output of the following?**

In [ ]:
1 or 0  = True

0 and 0    = False

True and False and True   = False 

1 or 0 or 0 = True

**Q20. What are conditional statements in Python?**

Conditional statements are used to perform a set of actions  depending on the conditions specified by the programmer
  Ex : If ,elif and else

**Q21. What is use of 'if', 'elif' and 'else' keywords?**

If condition : is used to return one value if acondition is true another value if it is false
elif condition : is the extension of  if condition ,now if statement is false then elif statement is checked
else : When  both if and elif conditions are not satisfied then else condition is executed and the programme ends

**Q22. Write a code to take the age of person as an input and if age >= 18 display "I can vote". **
If age is < 18 display "I can't vote".

In [20]:
user_age = int(input('Enter your age '))
if user_age >= 18:
    print('you can vote')
else:
    print('you cant vote')

Enter your age 19
you can vote

**Q23. Write a code that displays the sum of all the even numbers from the given list.**
```
numbers = [12, 75, 150, 180, 145, 525, 50]

In [26]:
numbers = [12,75,150,180,145,525,50] 
sum = 0 
i = 1
for i in numbers:
    if i % 2 == 0:
        sum = sum + i
print(sum)

392

**Q24. Write a code to take 3 numbers as an input from the user and display the greatest no as output**

In [27]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The greatest number is", largest)

Enter first number: 1
Enter second number: 2
Enter third number: 3
The greates number is 3.0

**Q25. Write a program to display only those numbers from a list that satisfy the following conditions**

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

numbers = [12, 75, 150, 180, 145, 525, 50]

In [28]:
 numbers = [12,75,150,180,145,525,50]
for i in numbers :
    if i%5 !=0 :
        continue 
    elif i>150:
        continue
    elif i > 500:
        break
    print(i)

75
150
145
50


**Q26. What is a string? How can we declare string in Python?**

     A string is a sequence of characters, a string is attached to the variable as shown below

In [1]:
str = 'Chenchu Anil is enrolled in bootcamp_2'
print(str)

Chenchu Anil is enrolled in bootcamp_2

**Q27. How can we access the string using its index?**

In [153]:
str = 'chenchu anil'
print(str[0:])

chenchu anil

 **Q28. Write a code to get the desired output of the following**
 ```
 string = "Big Data iNeuron"
 desired_output = "iNeuron"

In [32]:
string = 'Big Data iNeuron'
print('desrired_output=',string[8:])

desrired output=  iNeuron


**Q29. Write a code to get the desired output of the following**
```
string = "Big Data iNeuron"
desired_output = "norueNi"

In [120]:
string = "Big Data iNeuron"
print('desired output=',string[-1:: -1])

desired output= norueNi ataD giB

**Q30. Resverse the string given in the above question.**

In [121]:
string = "Big Data iNeuron"
print('desired output=',string[-1:: -1])

desired output= norueNi ataD giB

**Q31. How can you delete entire string at once?**

In [127]:
string = 'executor memory'
del string


**Q32. What is escape sequence?**
     An escape sequence is represented by backslash(\) followed by a specific character for example
      \n represnts a new line in below code

In [130]:
str2 = 'Chenchu Anil is \nenrolled in \niNeuron\nbootcamp 2.0'
print(str2)

Chenchu Anil is
enrolled in
iNeuron
bootcamp 2.0


**Q33. How can you print the below string?**
```
'iNeuron's Big Data Course'

In [133]:
string = "iNeuron's Big Data Course"
print(string)

iNeuron's Big Data Course

**Q34. What is a list in Python?**
 
    List is a sequential data which is stored in contiguous memory location.It stores hetrogenious kind of data.


**Q35. How can you create a list in Python?**

In [135]:
list = [2,4,6,7,8,9,3,4]
print(list)

[2, 4, 6, 7, 8, 9, 3, 4]

**Q36. How can we access the elements in a list?**

In [139]:
list = ['anil','vishal','shashank','ayush']
print(list[2])

shashank

**Q37. Write a code to access the word "iNeuron" from the given list.**
```
lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]

In [159]:
lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]
print(lst[4][2])

iNeuron

**Q38. Take a list as an input from the user and find the length of the list.**

In [15]:

lst = []
  
n = int(input("Enter number of elements : "))
for i in range(0, n):
    ele = int(input())
    lst.append(ele)                                                        
      
print(lst)
print('The length of list is ' ,len(lst))

Enter number of elements : 1
2
[2]
The length of list is  1


 **Q39. Add the word "Big" in the 3rd index of the given list.**
```
lst = ["Welcome", "to", "Data", "course"]
```

In [164]:
lst = ["Welcome", "to", "Data", "course"]
lst.insert(2,'Big')
print(lst)

['Welcome', 'to', 'Big', 'Data', 'course']

**Q40. What is a tuple? How is it different from list?**

In [ ]:
Tuples are immutable objects meaning once the data is assigned to tupple the values cannot be changed
Tuples are used when elements are of different data type and somehow related to each other
Ex: ('Anil','indian', 1984)
    
lists are muttable objects they can be changed
lists are used when elements are of same data type
Ex:Emp_name = ['Anil','shashank','vishal']


** Q42. Create a tuple and try to add your name in the tuple. Are you able to do it? Support your answer with reason.**

      tuples are immutable objects so you cannot modify the tuple

**Q43.Can two tuple be appended. If yes, write a code for it. If not, why?**

In [167]:
tup1 =('anil',1,'vishal')
tup2 =('ayush',2,'benglore')

print(tup1 + tup2)

('anil', 1, 'vishal', 'ayush', 2, 'benglore')

**Q44. Take a tuple as an input and print the count of elements in it.**

In [168]:
tup3 = ('anil', 1, 'vishal', 'ayush', 2, 'benglore')
print(len(tup3))

6

**Q45. What are sets in Python?**
    A set is a unordered mutable collection of unique elements


**Q46. How can you create a set?**

In [172]:
set1 = {1,2,2,3,4,5,5,6,7,8,3,5,9,9,9}
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

**Q47. Create a set and add "iNeuron" in your set.**

In [183]:
set2 = set()
set2.add('iNeuron')
print(set2)

{'iNeuron'}

**Q48. Try to add multiple values using add() function.**

In [176]:
set3 = {1}
set3.add('iNeuron')
set3.add('chenchu Anil')
set3.add('Bootcamp')
set3.add('2.0')
set3.add('Big Data')

print(set3)

{1, 'Bootcamp', 'iNeuron', 'Big Data', '2.0', 'chenchu Anil'}

**Q49. How is update() different from add()?**

update() is used to change the exsisting value
add() is used to add a new element

**Q50. What is clear() in sets?**

 clear() deletes all the values in the set

In [180]:
set4 = {1,2,3,3}
set4.clear()
print(set4)

set()

**Q51. What is frozen set?**

 frozen set is same like normal set but they are immutable like tuples

In [191]:
list = [1,'anil', 2,'chenchu',1,3,7,6]
y = frozenset(list)
print(y)

frozenset({1, 2, 3, 6, 7, 'anil', 'chenchu'})

**Q52. How is frozen set different from set?**

set = muttable ,doesnt print in sequential order

frozen set = immutable as shown in below block code , 
             prints in sequencial order as shown in above code block

In [186]:
list = [1,'anil', 'chenchu',1]
y = frozenset(list)
y.add(3)
print(y) 

# SO FROZEN SETS ARE IMMUTABLE WHEN YOU ARE TRYING TO ADD A VALUE IT THROWS AN ERROR 

#AttributeError: 'frozenset' object has no attribute 'add'

AttributeError: 'frozenset' object has no attribute 'add'

**Q53. What is union() in sets? Explain via code.**

union is the set of all unique elements present in all sets,it combines two or more sets

In [190]:
set5 = {1,2,3,4,4,3,6}
set6 = {7,8,8,6,9,10}
set7 = {11,12,13,12,14,14,15,16}
print(set5 | set6 | set7)

{1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16}


**Q54. What is intersection() in sets? Explain via code.**
  
This method returns a set which contains common values in one or more sets

In [197]:
set8 = {1,2,3,4,5,6}
set9 = {2,4,6,8,9,10}

print(set8 & set9)

{2, 4, 6}


**Q55. What is dictionary in Python?**

The dictionary is an unordered collection of key-value pairs seperated by comma that is enclosed in a curly braces they are muttable objects i.e we can add or remove elements from dictionary

**Q56. How is dictionary different from all other data structures.**


They are key-value pairs they contain collection of keys and associated values

**Q57. How can we declare a dictionary in Python?**

   dict1 = {}

**Q58. What will the output of the following?**
```
var = {}
print(type(var))


class < 'dict'>

**Q59. How can we add an element in a dictionary?**

In [240]:
dict1 = {'name' :'Ayush' , 'age':11}
print(dict1)

{'name': 'Ayush', 'age': 11}

**Q60. Create a dictionary and access all the values in that dictionary.**

In [16]:
dict2 = {'NAME' : 'Anil','HEIGHT': '6 ft','WEIGHT': '80 kg','QUALIFICATION':'B.E. civil','LANGUAGES KNOWN':'English,Hindi,Kannada,Telugu,Tamil'}
print(dict2.values())

dict_values(['Anil', '6 ft', '80 kg', 'B.E. civil', 'English,Hindi,Kannada,Telugu,Tamil'])

**Q61. Create a nested dictionary and access all the element in the inner dictionary.**

In [242]:
dict3={'Anil':'Roti',
    'Ayush':'burger',
    'Gangi':{'Break-fast':'Corn','Lunch':'Roti','Dinner':'salad'}}
dict3.get('Gangi')

{'Break-fast': 'Corn', 'Lunch': 'Roti', 'Dinner': 'salad'}

**Q62. What is the use of get() function?**

Returns the value of the item with specified key

In [243]:
dictionary={'Anil':'Roti',
    'Ayush':'salad',
    'Gangi':{'Break-fast':'Corn','Lunch':'Roti','Dinner':'salad'}}
dictionary.get('Ayush')

'salad'

**Q63. What is the use of items() function?**

When looping through dictionaries key and corresponding values can be retrieved at the same time using the items method

In [244]:
dict4={'Anil':'Roti',
    'Ayush':'pizza',
    'Gangi':{'Break-fast':'Corn','Lunch':'Roti','Dinner':'salad'}}
for a,r in dict4.items():
    print('key =',a,'and value = ',r)

key = Anil and value =  Roti
key = Ayush and value =  pizza
key = Gangi and value =  {'Break-fast': 'Corn', 'Lunch': 'Roti', 'Dinner': 'salad'}

**Q64. What is the use of pop() function?**

if key is in the dictionary it removes and returns its corresponding value

In [235]:

dict5 = {'Language': 'Hindi', 'country':'india'}
dict5.pop('Language')
print(dict5)

{'country': 'india'}

**Q65. What is the use of popitems() function?**

popitems()method removes and returns key-value pair it returns as  LIFO(last in first out)order

In [239]:
dict6 = {'Language': 'Hindi', 'country':'india','population':'1.3billion'}
x = dict6.popitem()
print(x)                                     #Last item from dictionary is given as output

('population', '1.3billion')

**Q66. What is the use of keys() function?**

This method only returns the keys of the dictionary

In [265]:
dict7 = {'NAME' : 'Anil','HEIGHT': '6 ft','WEIGHT': '80 kg','QUALIFICATION':'B.E. civil','LANGUAGES KNOWN':'English,Hindi,Kannada,Telugu,Tamil'}
print(dict7.keys())

dict_keys(['NAME', 'HEIGHT', 'WEIGHT', 'QUALIFICATION', 'LANGUAGES KNOWN'])

**Q67. What is the use of values() function?**

This method only returns value of the dictionary

In [266]:
dict8 = {'NAME' : 'Anil','HEIGHT': '6 ft','WEIGHT': '80 kg','QUALIFICATION':'B.E. civil','LANGUAGES KNOWN':'English,Hindi,Kannada,Telugu,Tamil'}
print(dict8.values())

dict_values(['Anil', '6 ft', '80 kg', 'B.E. civil', 'English,Hindi,Kannada,Telugu,Tamil'])

**Q68. What are loops in Python?**

Loops in the programme are used to iterate over the sequence of elements

**Q69. How many type of loop are there in Python?**

There are two types of loop for loop and while loop

**Q70. What is the difference between for and while loops?**

for loop iterates over the items of any sequence be it string or list

while loop iterates as long as the defined condition is true ,when the condition is false programme condition follows to the line immidiately following the loop

**Q71. What is the use of continue statement?**

it continues with the next cycle of the nearest closing loop

In [255]:
for i in range(8):
    if i == 5:
        continue
    print(i,end = ' ')

0 1 2 3 4 6 7

**Q72. What is the use of break statement?**

it terminates the nearest enclosing loop and skipping the optional else clause if the loop has one,if a for loop is terminated by a break the loop control target keeps its curent value

In [257]:
for i in range(6):
    if i == 3:
        break
    print(i)

0
1
2

**Q73. What is the use of pass statement?**

when pass() is executed nothing happens it is usefull when no code needs to be executed

In [258]:
for i in range(5):
    pass

**Q74. What is the use of range() function?**

To iterate over a sequence of numbers the range() function is used
Ex: if we want to print numbers from 0 to 10 we can use range() function

In [261]:
for i in range(11):
    print(i,end =' ')               # first digit is inclusive and last digit is exclusive

0 1 2 3 4 5 6 7 8 9 10


**Q75. How can you loop over a dictionary?**

In [267]:
dict9 = {'NAME' : 'Anil','HEIGHT': '6 ft','WEIGHT': '80 kg','QUALIFICATION':'B.E. civil','LANGUAGES KNOWN':'English,Hindi,Kannada,Telugu,Tamil'}
for x,y in dict9.items():
    print('key = ',x, 'and Value = ', y)

key =  NAME and Value =  Anil
key =  HEIGHT and Value =  6 ft
key =  WEIGHT and Value =  80 kg
key =  QUALIFICATION and Value =  B.E. civil
key =  LANGUAGES KNOWN and Value =  English,Hindi,Kannada,Telugu,Tamil

**Q76. Write a Python program to find the factorial of a given number.**

In [11]:

def  factorial(n):
    fact = 1
    for i in range(n,0,-1):
        fact = fact * i
    return fact

x= 4
res = factorial(x)
print(res)
    
    
# DRY RUN

# for 4 in range(4,0,-1):
#     fact = fact * i
#            1 * 4 = 4
    
# for 3 in range(3,0,-1):
#     fact = fact * i
#            4 * 3 = 12

# for 2 in range(2,0,-1):
#     fact = fact * i
#            12 * 2 = 24
        
# for 1 in range(1,0,-1):
#     fact = fact * i
#            24 * 1 = 24    
        
# Last number is 0 as last number is exclusive programme end

24

**Q77. Write a Python program to calculate the simple interest. Formula to calculate simple interest is SI = (P*R*T)/100**

In [14]:
def simple_intrest(p,r,t):
    si = (p*r*t)//100
    return si

num1 = 5
num2 = 10
num3 = 15
result = simple_intrest(num1,num2,num3)
print('simple intreset calculated is' ,result)

simple intreset calculated is 7

**Q78. Write a Python program to calculate the compound interest. Formula of compound interest is A = P(1+ R/100)^t.**

In [27]:
def compound_intrest(p,r,t):
    a = p*(1+r/100)**t
    ci = a-p
    return ci

num1 =10000 
num2 =2
num3 =3

result = compound_intrest(num1,num2,num3)
print('compound intrest calculated is : ',result)

p = principal amount
r = rate of intrest
t = time elapsed in years

compound intrst calculated is :  612.0800000000017

**Q79. Write a Python program to check if a number is prime or not.**

In [31]:

n = int(input('Enter a number '))
count = 0
i = 1
while(i<=n):
    if(n%i==0):
        count = count + 1
    i = i + 1 
if(count==2):
    print('prime')
else:
    print('not a prime')

Enter a number 5
prime

**Q80. Write a Python program to check Armstrong Number.**

In [43]:
i = int(input('Enter a number '))
sum = 0
order = len(str(i))
x=i
while(i>0):
    digit = i%10
    sum = sum + digit ** order
    i = i//10
if x==sum:
    print(f'{x} is a Armstrong Number')
else:
    print('Not a Armstrong Number')

Enter a number 153

TypeError: 'str' object is not callable

**Q81. Write a Python program to find the n-th Fibonacci Number.**

In [51]:
n = int(input('Enter a number '))

x = 0
y = 1
z = 0

while(z<=n):
    print(z)
    x = y
    y = z
    z = (x+y)

Enter a number 5
0
1
1
2
3
5

In [ ]:
    
 DRY RUN (Explanation for avbove fibonacci Number) n = 5

# while(z<=n):
#     (0<=5)    ...........................................  ...  0   (as  Z = 0)
#     print(z)
#     x = y = 1  # PUT Y VALUE IN X
#     y = z = 0  # PUT Z VALUE IN Y
#     z = (x+y)
#         (1+0)
#     Z = 1
    

# while(z<=n):
#     (1<=5)    ...........................................  ...  1   (as  Z = 1 from previous iteration)
#     print(z)
#     x = y = 0  # PUT Y VALUE IN X
#     y = z = 1  # PUT Z VALUE IN Y
#     z = (x+y)
#         (0+1)
#     Z = 1     
    

# while(z<=n):
#     (1<=5)    ...........................................  ...  1   (as  Z = 1 from previous iteration)
#     print(z)
#     x = y = 1  # PUT Y VALUE IN X
#     y = z = 1  # PUT Z VALUE IN Y
#     z = (x+y)
#         (1+1)
#     Z = 2    
    

# while(z<=n):
#     (2<=5)    ...........................................  ...  2   (as  Z = 2 from previous iteration)
#     print(z)
#     x = y = 1  # PUT Y VALUE IN X
#     y = z = 2  # PUT Z VALUE IN Y
#     z = (x+y)
#         (1+2)
#     Z = 3    


# while(z<=n):
#     (2<=5)    ...........................................  ...  3  (as  Z = 3 from previous iteration)
#     print(z)
#     x = y = 2  # PUT Y VALUE IN X
#     y = z = 3  # PUT Z VALUE IN Y
#     z = (x+y)
#         (2+3)
#     Z = 5    
    

# while(z<=n):
#     (2<=5)    ...........................................  ...  5  (as  Z = 5 from previous iteration)
#     print(z)
#     x = y = 3  # PUT Y VALUE IN X
#     y = z = 5  # PUT Z VALUE IN Y
#     z = (x+y)
#         (1+1)
#     Z = 8    
    
    

# while(z<=n):
#     (8<=5)   FALSE
#    PROGRAMME ENDS

**Q82. Write a Python program to interchange the first and last element in a list.**

In [57]:
x = [1,2,3,4,5,6,7,8]
y = x[0]
#print(y)
x[0] = x[len(x)-1]
x[len(x)-1] = y
print(x)

[8, 2, 3, 4, 5, 6, 7, 1]

**Q83. Write a Python program to swap two elements in a list.**

In [59]:
x=[4,6,8,9,10,12]
print('original list before swapping ',x)
z1 = int(input('Enter first position '))
z2 = int(input('Enter second position '))

x[z1],x[z2] = x[z2],x[z1]
print('List after swapping ',x)

original list before swapping  [4, 6, 8, 9, 10, 12]
Enter first position2
Enter second position4
List after swapping  [4, 6, 10, 9, 8, 12]

**Q84. Write a Python program to find N largest element from a list.**

In [62]:
list2 = [1,5,7,89,56,78,81]
print('largest element is ',max(list2))

largest element is  89

**Q85. Write a Python program to find cumulative sum of a list.**

In [67]:
numbers = [1,2,3,6,8,5]
sum = 0
i = 1
for i in  numbers:
    sum = sum + i
    i = i + 1
print('sum = ',sum)

sum =  25

**Q86. Write a Python program to check if a string is palindrome or not.**

In [68]:
i = int(input('Enter a number '))
rev = 0
x = i
while(i>0):
    rev=(rev*10) + (i%10)
    i= i//10
if(x==rev):
    print('palindrome')
else:
    print('not a palindrome')

Enter a number 1234
not a palindrome

**Q87. Write a Python program to remove i'th element from a string.**

In [72]:
string = 'iNeuron'
remove = 'n'
for i in string:
    if i is remove:
        continue
    else:
        print(i,end= '')

iNeuro

**Q88. Write a Python program to check if a substring is present in a given string.**

In [74]:
sentence = 'My name is chenchu anil'
substring = 'anil'

def findstring(substring):
    result = sentence.find(substring)
    if (result == -1):
        print('substring not found')
    else:
        print('substring found at index ',result)
        
findstring(substring)

substring found at index  19

**Q89. Write a Python program to find words which are greater than given length k.**

In [78]:
list10=['anil','engineer','civil','software','ayush']
for ele in list10:
    if(len(ele)>5):
        print(ele)

engineer
software

**Q90. Write a Python program to extract unique dictionary values.**

In [84]:
names = {1:'chenchu',2:'raja',3:'anil',4:'chenchu',5:'anil'}
print(set(names.values()))

{'anil', 'raja', 'chenchu'}


**Q91. Write a Python program to merge two dictionary.**

In [86]:
# by using update metod
list11 = {1:'chenchu',2:'raja',3:'anil',4:'chenchu',5:'anil'}
list12= {'NAME' : 'Anil','HEIGHT': '6 ft','WEIGHT': '80 kg'}
list11.update(list12)
print(list11)

{1: 'chenchu', 2: 'raja', 3: 'anil', 4: 'chenchu', 5: 'anil', 'NAME': 'Anil', 'HEIGHT': '6 ft', 'WEIGHT': '80 kg'}

In [89]:
#by using key value argumenta(kwargs)

list11 = {1:'chenchu',2:'raja',3:'anil',4:'chenchu',5:'anil'}
list12= {'NAME' : 'Anil','HEIGHT': '6 ft','WEIGHT': '80 kg'}
list13 = {**list11,**list12}
print(list13)

{1: 'chenchu', 2: 'raja', 3: 'anil', 4: 'chenchu', 5: 'anil', 'NAME': 'Anil', 'HEIGHT': '6 ft', 'WEIGHT': '80 kg'}

**Q96. Write a python program to print below pattern.**

In [113]:
n = int(input('Enter a number of rows '))
for i in range(n):
    for j in range(i-n-1):
         print(' ',end = ' ')
    for j in range(i+1):
         print('*' , end=' ')
    print()

Enter a number of rows 5
*
* *
* * *
* * * *
* * * * *

**Q97. Write a python program to print below pattern.**

In [112]:
n = int(input('Enter a number of rows '))
for i in range(n):
    for j in range(n-i-1):
         print(' ',end = '')
    for j in range(i+1):
         print('*' , end='')
    print()

Enter a number of rows 5
    *
   **
  ***
 ****
*****

**Q98. Write a python program to print below pattern.**

In [118]:
n = int(input('Enter a number of rows '))
for i in range(n):
    for j in range(n-i-1):
         print(' ',end = '')
    for j in range(i+1):
         print('*' , end=' ')
    print()

Enter a number of rows 5
    *
   * *
  * * *
 * * * *
* * * * *

**Q99. Write a python program to print below pattern.**

In [141]:
for i in range (1,7):
    for j in range (1,i):
        print(j, end = ' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

**Q100. Write a python program to print below pattern.**

In [149]:
n = int(input('Enter the number'))
for i in range(65,n+65):
    for j in range(65,i+1):
        print(chr(i),end=' ')
    print()

Enter the number5
A
B B
C C C
D D D D
E E E E E